

a  {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}

div {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}

.btn {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
/*	height: 50px;
	width: 120px;*/
	margin: auto;
	text-align: center;
	display: inline-block;
	clear:both;
}
#btnNewCard {

}
#btnPlayDeck {

}
#btnCreateCard {

}

input {
/*	height:100px;
*/	width: 100;
}

textarea {
	width:100%;
	height:45%;
	clear:both;
}

#frontside {
	autofocus: true;
}